/* Textos */	

	
strong.destaque, b.destaque, span.destaque, h4.destaque {color:#CC0000;}
b.destaque2, strong.destaque2 {color:#336633;}
.txt_destaque {color:#CC0000;}

.txt_sub {font-size:70%;}

	
/* IDs-Chave*/	
#nav, 
.nav, 
.txt2 {
	font-size: 80%;
	/*font-family: Arial, Helvetica, sans-serif;*/
	line-height:20px;}	
	
.rodape,
#rodape	{ font-size:75%;line-height:20px;}

 .texto{
	font-family:Verdana;
	font-size:11px;;
	color:#000000;
	border:#000000;
	border:thin;
	border-color:#000000;
	}
.textodiv{
	font-family:Verdana;
	font-size:90%;
	color:#000000;
	border:#000000;
	border:thin;
	border-color:#000000;
	}
.texto2{
	font-family:Verdana;
	color:#000000;
	font-weight:bold;
	}	
.texte3{
	font-family:Verdana;
	font-size:60%;
	color:#000000;
	}
.texto4{
	font-family:Verdana;
	font-size:70%;
	color:#000000;
}

.forum{
	font-family:Verdana;
	font-size:13px;;
	color:#000000;
	border:#000000;
	border:thin;
	border-color:#000000;
	}	
	
.formata { 
  font-family:Verdana;
  font-size:13px;
  }
  a.dcontexto{
  position:relative;
  font:14px arial, verdana, helvetica, sans-serif; 
  padding:0;
  color:#039;
  text-decoration:none;
  z-index:24;
  }
 a.dcontexto{
  position:relative; 
  font:14px Verdana; 
  padding:0;
  color:#039;
  text-decoration:none;
  z-index:24;
  }
  a.dcontexto:hover{
  background:transparent;
  z-index:25;
  }
  a.dcontexto span{display: none}
  a.dcontexto:hover span{ 
  display:block;
  position:absolute;
  margin-left:10px;
  width:200px; 
  top:3em;
  text-align:left;
  left:0;
  font: 10px Verdana;
  font-style:normal; 
  padding:5px 10px;
  border:1px solid #002288;
  background:#EAF1FB; 
  color:#000;
  }
a.dcontexto:link{color:#000000;}
a.dcontexto:visited{color:#000000;}


a.dcontexto1{
position:relative;
font:14px arial, verdana, helvetica, sans-serif; 
padding:0;
color:#039;
text-decoration:none;
z-index:24;
}
a.dcontexto1{
position:relative; 
font:14px Verdana; 
padding:0;
color:#039;
text-decoration:none;
z-index:24;
}
a.dcontexto1:hover{
background:transparent;
z-index:25;
}
a.dcontexto1 span{display: none}
a.dcontexto1:hover span{ 
display:block;
position:absolute;
margin-left:100px;
width:200px; 
top:1em;
text-align:left;
left:0;
font: 10px Verdana;
font-style:normal; 
padding:5px 10px;
border:1px solid #002288;
background:#EAF1FB; 
color:#000;
}
a.dcontexto1:link{color:#000000;}
a.dcontexto1:visited{color:#000000;}


a.dcontextoMatr{
			position:relative;
			font:14px arial, verdana, helvetica, sans-serif; 
			padding:0;
			color:#039;
			text-decoration:none;
			z-index:24;
		}
		a.dcontextoMatr{
			position:relative; 
			font:14px Verdana; 
			padding:0;
			color:#039;
			text-decoration:none;
			z-index:24;
		}
		a.dcontextoMatr:hover{
			background:transparent;
			z-index:25;
		}
		a.dcontextoMatr span{display: none}
		a.dcontextoMatr:hover span{ 
			display:block;
			position:absolute;
			margin-left:100px;
			margin-top:50;
			width:500px; 
			top:50;
			text-align:left;
			left:0;
			font: 10px Verdana;
			font-style:normal; 
			padding:5px 10px;
			border:1px solid #002288;
			background:#EAF1FB; 
			color:#000;
		}
		a.dcontextoMatr:link{color:#000000;}
		a.dcontextoMatr:visited{color:#000000;}	


a.BotaoReg{
position:relative;
font:14px arial, verdana, helvetica, sans-serif; 
padding:0;
color:#039;
text-decoration:none;
z-index:24;
}
a.BotaoReg{
position:relative; 
font:14px Verdana; 
padding:0;
color:#039;
text-decoration:none;
z-index:24;
}
a.BotaoReg:hover{
background:transparent;
z-index:25;
}
a.BotaoReg span{display: none}
a.BotaoReg:hover span{ 
display:block;
position:absolute;
margin-left:0px;
width:100px; 
top:35px;
text-align:left;
left:0;
font: 10px Verdana;
font-style:normal; 
padding:5px 5px;
border:1px solid #002288;
background:#EAF1FB; 
color:#000;
}
a.BotaoReg:link{color:#000000;}
a.BotaoReg:visited{color:#000000;}


.botao{border: 1px groove #333333;
	   background:#FFFFFF;}

.botaoDisabled{border: 1px groove #333333;
	   background: #999999;}

.botaoc{border: 1px solid #cccccc;
		background: #009BCF;
		font-family:Verdana, Arial, Helvetica, sans-serif;
		font-size:12px;
		color:#ffffff;}

table.BordaSimples {
	border-collapse: collapse; /* CSS2 */
	background: #FFFFFF;
	vertical-align:middle;
	text-align:center;
}

table.BordaSimples td 
{
	border: 1px solid #808080;
	font-family:Verdana;
	font-size:13px;
	height:20;
	vertical-align:middle;
}

table.BordaSimples th {
	border: 1px solid #808080;
	border-bottom: 2px #808080;
}

table.BordaSimples tr {
	border: 1px solid #808080;
	border-bottom: 2px #808080;
}
table.BordaSimples td {
	font-family:Verdana;
	font-size:13px;
}

table.BordaSimples2 {
	border-collapse: collapse; /* CSS2 */
	background: #FFFFFF;
}

table.BordaSimples2 td 
{
	border: 1px solid #808080;
	font-family:Verdana;
	font-size:13px;
	height:20;
	vertical-align:middle;
}

table.BordaSimples2 th {
	border: 1px solid #808080;
	border-bottom: 2px #808080;
}

table.BordaSimples2 tr {
	border: 1px solid #808080;
	border-bottom: 2px #808080;
}
table.box {
	margin-left: auto;
	margin-right: auto;
	border-bottom: 1px #ffffff;
	border: 1px outset #ffffff;
	padding: 10px;
}
table.box td{
	font-family:Verdana;
	font-size:13px;
	vertical-align:middle;
	text-align:left;
	padding-right:5px;
	padding-left:5px;
}
.box2 {
    font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	border-bottom: 1px #808080;
	border: 1px outset #ffffff;
	padding: 10px;
}
.botao{
	border: 1px groove #333333; 
	background-color:#FFFFFF;
}

table.Borda {
	border-collapse: collapse; /* CSS2 */
	background: #FFFFFF;
}
table.Borda td 
{
	border: 1px solid #808080;
	font-family:Verdana;
	font-size:11px;
	height:20px;;
	vertical-align:middle;
	padding-left:5px;
}

table.Borda th {
	border: 1px solid #808080;
	border-bottom: 2px #808080;
}

table.Borda tr {
	border: 1px solid #808080;
	border-bottom: 2px #808080;
}



table.Borda7 {
	border-collapse: collapse; /* CSS2 */
	background: #FFFFFF;
}
table.Borda7 td 
{
	border: 0px solid #808080;
	font-family:Verdana;
	font-size:11px;
	height:20px;;
	vertical-align:middle;
	padding-left:5px;
}

table.Borda7 th {
	border: 0px solid #808080;
	border-bottom: 2px #808080;
}

table.Borda7 tr {
	border: 0px solid #808080;
	border-bottom: 2px #808080;
}


.box3 {
    font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	border: 1px outset #808080;
	padding: 10px;
}

.box5 {
    font-family:verdana;
	font-size:11px;
	border: 1px outset #808080;
	padding: 10px;
}

.conteudoc {

	background-color: White;
	border-bottom: #7F9DB9 1px solid;
	border-left: #7F9DB9 1px solid;
	border-right: #7F9DB9 1px solid;
	border-top: #7F9DB9 1px solid;
	color: #006699;
	font-family: verdana;
	font-size: 12px;
}

.conteudod {

	background-color: White;
	border-bottom: #666666 1px solid;
	border-left: #666666 1px solid;
	border-right: #666666 1px solid;
	border-top: #666666 1px solid;
	color: #006699;
	font-family: verdana;
	font-size: 12px;
}

.conteudo {

	background-color: White;
	border-bottom: #000000 1px solid;
	border-left: #000000 1px solid;
	border-right: #000000 1px solid;
	border-top: #000000 1px solid;
	color: #000066;
	font-family: verdana;
	font-size: 12px;
}

table.Borda2 {
	border-collapse: collapse; /* CSS2 */
	background: #FFFFFF;
}
table.Borda2 td 
{
	border: 1px solid #808080;
	font-family:Verdana;
	font-size:12px;
	height:30px;;
	vertical-align:middle;
	padding-left:5px;
}

table.Borda2 th {
	border: 1px solid #808080;
	border-bottom: 2px #808080;
}

table.Borda2 tr {
	border: 1px solid #808080;
	border-bottom: 2px #808080;
}

table.Borda3 {
	border-collapse: collapse; /* CSS2 */
	background: #FFFFFF;
}

table.Borda3 td 
{
	border: 1px solid #808080;
	font-family:Verdana;
	font-size:11px;
	height:30px;;
	vertical-align:middle;
	padding-left:5px;
}

table.Borda3 th {
	border: 1px solid #808080;
	border-bottom: 2px #808080;
}

table.Borda3 tr {
	border: 1px solid #808080;
	border-bottom: 2px #808080;
}

.conteudo2 {

	background-color: White;
	border-bottom: #000000 1px solid;
	border-left: #000000 1px solid;
	border-right: #000000 1px solid;
	border-top: #000000 1px solid;
	color: #000066;
	font-family: verdana;
	font-size: 11px;
}

.conteudo3 {

	background-color: White;
	border-bottom: #000000 1px solid;
	border-left: #000000 1px solid;
	border-right: #000000 1px solid;
	border-top: #000000 1px solid;
	color: #000066;
	font-family: verdana;
}

.botao2{
	border: 1px groove #333333;
	background-color:#FFFFFF;
	font-family:Verdana;
	font-size:11px;
}
.sucesso{
	background-color:eef6ee;
	border:1px solid #006600;
	font-family:Verdana;
	font-size:12px;
	font-weight:bold;
	text-align:center;
	padding-top:10px;
	padding-bottom:10px;
}
.sucesso{
	background-color:#eef6ee;
	border:1px solid #006600;
	font-family:Verdana;
	font-size:12px;
	font-weight:bold;
	text-align:center;
	padding-top:10px;
	padding-bottom:10px;
}
.aviso{
	background-color:#f4d4c9;
	border:1px solid #cc3300;
	font-family:Verdana;
	font-size:12px;
	font-weight:bold;
	text-align:center;
	padding-top:10px;
	padding-bottom:10px;
}

table.Borda4 {
	border-collapse: collapse; /* CSS2 */
	background: #FFFFFF;
}
table.Borda4 td 
{
	border: 1px solid #CCCCCC;
	font-family:Verdana;
	font-size:11px;
	height:30px;;
	vertical-align:middle;
	padding-left:5px;
}

table.Borda4 th {
	border: 1px solid #CCCCCC;
	border-bottom: 2px #CCCCCC;
}

table.Borda4 tr {
	border: 1px solid #CCCCCC;
	border-bottom: 2px #CCCCCC;
}

table.Borda5 {
	border-collapse: collapse; /* CSS2 */
	background: #E2E2E2;
}
table.Borda5 td 
{
	border: 1px solid #E2E2E2;
	font-family:Verdana;
	font-size:11px;
	height:30px;;
	vertical-align:middle;
	padding-left:5px;
	background-color:E2E2E2;
}

table.Borda5 th {
	border: 1px solid #E2E2E2;
	border-bottom: 2px #E2E2E2;
	background-color:E2E2E2;
}

table.Borda5 tr {
	border: 1px solid #E2E2E2;
	border-bottom: 2px #E2E2E2;
	background-color:E2E2E2;
}


table.Borda6 th {
	border: 1px solid #808080;
	border-bottom: 2px #808080;
}

table.Borda6 tr {
	border: 1px solid #808080;
	border-bottom: 2px #808080;
}

table.box3 {
	margin-left: auto;
	margin-right: auto;
	border-bottom: 1px #ffffff;
	border: 1px outset #ffffff;
	padding: 10px;
}
table.box3 td{
	font-family:Verdana;
	font-size:11px;
	vertical-align:middle;
	text-align:left;
	padding-right:5px;
	padding-left:5px;
}
